<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
	<br>
	<div id="page-wrapper" class="container">
		<h1>Let's play Catch Phrase!!</h1>
		<br>
		<div class="list-group" id="word_buttons">
			<button type="button" class="list-group-item">word: https<br> definition: part of the application layer of Internet protocol suite that is used to transfer media across the world wide web</button>
		</div>
	</div>
</body>
<script type="text/template" id="words-template">
	<button type="button" class="list-group-item"> <%= word %> <br> <%= definition %> </button>
</script>
</html>